*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0f172a;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.container{
  width:100%;
  display:flex;
  justify-content:center;
}

.card{
  width:350px;
  background:#1e293b;
  padding:30px;
  border-radius:15px;
  text-align:center;
  color:white;
}

h1{
  margin-bottom:20px;
}

input{
  width:100%;
  padding:12px;
  margin-bottom:12px;
  border:none;
  border-radius:8px;
}

button{
  width:100%;
  padding:12px;
  margin-bottom:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:15px;
}

button:hover{
  opacity:0.9;
}

#user-box{
  margin-top:20px;
}
